.container {
    margin-top: 20px;
  }
  
  .preview, .form-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .file-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  
  
  

  
  .container {
    margin-top: 20px;
  }
  
  quill-editor {
    height: 300px;
    width: 300px;
    background-color: white;
  }
  
  
  /* Asegúrate de que el contenedor del editor tenga altura y ancho adecuados */
/* Puedes personalizar el estilo del editor aquí */
.ql-toolbar.ql-snow {
  border: 1px solid #dbdbdb; /* Color del borde de Bulma */
}

.ql-container.ql-snow {
  border: 1px solid #dbdbdb; /* Color del borde de Bulma */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Fuente de Bulma */
}

.thumbnail {
  width: 400px; /* Ancho de la miniatura */
   /* Altura máxima de la miniatura */
}
