
<footer class="footer">
    <div class="content has-text-centered">
      <div class="columns is-variable is-8">
        <div class="column is-3">
          <img src="assets/logo.png" alt="Logo" style="width: 40px;">
          <p>Pon aqui el tangram</p>
          <p>© 2024 </p>
          <p>
            Todos los derechos reservados.
          </p>
        </div>
        <div class="column is-2 is-offset-1">
          <p class="has-text-weight-bold">Sobre</p>
          <ul>
            <li><a href="#"></a></li>
            
          </ul>
        </div>
        <div class="column is-2">
          <p class="has-text-weight-bold">Nosotros</p>
          <ul>
            
            <li><a href="#">Contacto</a></li>
            
          </ul>
        </div>
        <div class="column is-2">
          <p class="has-text-weight-bold">Redes</p>
          <ul>
            <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
            <li><a href="#"><i class="fab fa-facebook"></i> Github</a></li>
            <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  