<section class="section">
    <div class="container is-flex is-align-items-center is-justify-content-center">
        <div class="box" style="width: 60%;">
            <h1 class="title has-text-centered">Formulario de Información</h1>
            <form (ngSubmit)="saveProfileData()">

                
                <fieldset>
                    <legend>Información Personal</legend>
                    <div class="field">
                        <div class="control">
                            <label class="label" for="email">Correo Electrónico:</label>
                            <input class="input" type="email" id="email" name="email" [(ngModel)]="profileData.email"  readonly>
                        </div>
                        <div class="control">
                            <label class="label" for="phone">Teléfono:</label>
                            <input class="input" type="text" id="phone" name="phone" [(ngModel)]="profileData.phone">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control has-text-centered">
                            <img [src]="profileData.picture" class="image-preview" *ngIf="profileData.picture" alt="Profile Picture">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label class="label" for="gender">Género:</label>
                            <input class="input" type="text" id="gender" name="gender" [(ngModel)]="profileData.gender" required>
                        </div>
                        <div class="control">
                            <label class="label" for="first-name">Nombre:</label>
                            <input class="input" type="text" id="first-name" name="first-name" [(ngModel)]="profileData.firstName" required>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label class="label" for="last-name">Apellido:</label>
                            <input class="input" type="text" id="last-name" name="last-name" [(ngModel)]="profileData.lastName" required>
                        </div>
                        <div class="control">
                            <label class="label" for="picture">URL de Fotografía:</label>
                            <input class="input" type="text" id="picture" name="picture" [(ngModel)]="profileData.picture">
                        </div>
                    </div>

                    <legend>Ubicación</legend>
                    <div id="map" class="mb-4"></div>
                    <div class="field">
                        <div class="control">
                            <label class="label" for="street-number">Número de Calle:</label>
                            <input class="input" type="text" id="street-number" name="street-number" [(ngModel)]="profileData.streetNumber">
                        </div>
                        <div class="control">
                            <label class="label" for="street-name">Nombre de Calle:</label>
                            <input class="input" type="text" id="street-name" name="street-name" [(ngModel)]="profileData.streetName">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label class="label" for="city">Ciudad:</label>
                            <input class="input" type="text" id="city" name="city" [(ngModel)]="profileData.city">
                        </div>
                        <div class="control">
                            <label class="label" for="state">Estado:</label>
                            <input class="input" type="text" id="state" name="state" [(ngModel)]="profileData.state">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label class="label" for="country">País:</label>
                            <input class="input" type="text" id="country" name="country" [(ngModel)]="profileData.country">
                        </div>
                        <div class="control">
                            <label class="label" for="postcode">Código Postal:</label>
                            <input class="input" type="text" id="postcode" name="postcode" [(ngModel)]="profileData.postcode">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label class="label" for="latitude">Latitud:</label>
                            <input class="input" type="text" id="latitude" name="latitude" [(ngModel)]="profileData.latitude" readonly>
                        </div>
                        <div class="control">
                            <label class="label" for="longitude">Longitud:</label>
                            <input class="input" type="text" id="longitude" name="longitude" [(ngModel)]="profileData.longitude" readonly>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label class="label" for="timezone-offset">Zona Horaria (Desplazamiento):</label>
                            <input class="input" type="text" id="timezone-offset" name="timezone-offset" [(ngModel)]="profileData.timezoneOffset" readonly>
                        </div>
                        <div class="control">
                            <label class="label" for="timezone-description">Descripción de la Zona Horaria:</label>
                            <input class="input" type="text" id="timezone-description" name="timezone-description" [(ngModel)]="profileData.timezoneDescription" readonly>
                        </div>
                    </div>
                </fieldset>

                
                <button class="button is-primary" type="submit">Guardar</button>
            </form>
        </div>
    </div>
</section>
