/* styles.css */
@import '~quill/dist/quill.snow.css';

:root {
  --color-fondo: #333333
  --color-texto: #dbdbdb;
  --color-primario: #00b1d2;  
  --color-secundario: #7a7a7a;
  --tamano-titulo: 2em;
  --tamano-subtitulo: 1.5em;
  --tamano-parrafo: 1em;
  --fuente-principal: 'Arial', sans-serif;
  --fuente-secundaria: 'Georgia', serif;
}

body {
  background-color: var(--color-fondo);
  color: var(--color-texto);
  font-family: var(--fuente-principal);
}

h1, h2, h3, h4, h5, h6 , label, a , p, li{
  font-family: var(--fuente-secundaria);
  color:var(--color-texto) ;
}

.primary-text {
  color: var(--color-primario);  
}

.secondary-text {
  color: var(--color-secundario);
}

  